*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
html,body{
    height: 100%;
    width: 100%;
    background-color: #9333ea;

}
#container{
    height: 100%;
    width: 100%;
    background-color: #9435eb;
    display: flex;
    justify-content: center;
    align-items: center;
}
#box{
    height:540px;
    overflow-y:scroll ;
    scrollbar-width: none;
   
    width: 530px;
    border-radius: 30px;
    background-color: white;
    padding:40px;
}
#box h1{
    justify-content: center;
    display: flex;
    gap: 30px;
    padding: 50px;
    text-align: center;
    font-size: 40px;
    color: #9435eb;
}

input{
    width: 100%;
    height: 50px;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid rgba(128, 128, 128, 0.666);
}
.btn{
    display: flex;
    gap: 15px;
}
button{
    background-color: #8126d1;
    border: none;
    color: white;
    border-radius: 10px;
    width: 120px;
    height: 50px;
}
#icon{
    font-size: 50px;
}
span{
    scrollbar-width: none;
}
#para button{
    width: 80px;
}
#para div {
    display: flex;
    align-items: center;
    gap: 10px;  
   margin-top: 10px;
}
#para i{
    cursor: pointer;
}